<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Product List</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.unitprice}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/edit-to-cart/' + ${product.id}}">Edit</a>
                <a class="btn btn-danger" th:href="@{'/delete-to-cart/' + ${product.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success mb-3" th:href="@{/add-product}">Add Product</a>
</div>
</body>
</html>